.search-form-margin {
 margin-top: 23px;
 margin-bottom: 13px;
}

.search-header-margin {
 margin-top: 24px;
 margin-bottom: 14px;
}

.search-repository-header {
 padding: 0 20px 0 20px;
}


.search-footer-margin {
 margin-top: 7px;
 margin-bottom: 7px;
}

.top-bot-margin-18 {
  margin: 18px 0;
}
